body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

.container{
    width: 700px;
    height:700px;
    background-color: blueviolet;
}

.score-card{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 700px;
}

.game-card{
    width: 700px;
    height: 650px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.food{
    border-radius: 10px;
}